:root{
    --main-color-1: #04819e;
    --main-color-2: #8fddef;
    --main-color-3: #015367;
    --secondary-color-1: #ffd473;
    --secondary-color-2: #ffb100;
    --secondary-color-3: #a67300;
    --third-color-1: #f97300;
    --third-color-2: #ff1e00;
    --third-color-3: #a61300;
}

.body {
    box-sizing: border-box;
}

/*fonts*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

/*logout link*/

.logout_link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 29%;
    padding-right: 29%;
    border: solid 0.1px #aeaeae;
    background-color:#aeaeae;
    color:#fff;
    font-weight:500;
    border-radius:5px;
    text-decoration: none;
    width:100%;
    transition-duration: 0.2s;
}
.logout_link:hover {
    color:#aeaeae;
    background-color:#fff;
}

/*authorization dropdown*/

.authorization { 
    background: var(--main-color-2) !important;
    border: none !important;
    border-radius: 0.5rem !important;
    left: -3.2rem !important;
    padding: 0.5rem !important;
}

/*authorization form*/

.auth_form_text, .auth_form_fields {
    display: inline-block;
}
.log_text {
    margin-top: 5px;
    margin-bottom: 7px;
}
.pas_text {
    margin-top: 2px;
    margin-bottom: 10px;
}
.checkbox_shell {
    margin: auto;
    padding: 10px 0px 20px 30px;
}
.checkbox_text {
    margin: auto;
    padding: 10px 0px 0px 0px;
}

/*registration dropdown*/

.registration {
    background: var(--main-color-2) !important;
    border: none !important;
    border-radius: 0.5rem !important;
    left: -10rem !important;
    padding: 0.5rem !important;
}

/*registration form*/

.reg_form_text, .reg_form_fields {
    display: inline-block;
}

/*forms input*/

input[type=text] {
    margin-top: 5px;
    margin-bottom: 2px;
}
input[type=password] {
    margin-top: 2px;
    margin-bottom: 5px;
}
input[type=submit] {      
    padding:10px 67px;
    border: none;
    font-weight:600;
    border-radius:5px;
    transition-duration: 0.2s;
    background: var(--secondary-color-1) !important;
    color: var(--secondary-color-3) !important;
}
input[type=submit]:hover {
    background: var(--secondary-color-3) !important;
    color: var(--secondary-color-1) !important;
    transition: all 0.2s ease-in-out;
}

/*user menu dropdown*/

.user-menu {
    background: var(--main-color-2) !important;
    border: none !important;
    border-radius: 0.5rem !important;
    left: -7.5rem !important;
    padding: 0.5rem !important;
    min-width: 12rem !important;
}
.user-icon {
    background: var(--secondary-color-1) !important;
    color: var(--secondary-color-3) !important;
}
.user-icon:hover {
    background: var(--secondary-color-2) !important;
    border: 0.1rem solid var(--third-color-3) !important;
    color: var(--secondary-color-1) !important;
    transition: all 0.2s ease-in-out;
}

/*navigation*/

.navbar{
    background: var(--main-color-2);
    border: 1px solid var(--main-color-2);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
   }
.nav-link, .navbar-brand, .auth, .reg{
    color: var(--main-color-1) !important;
    cursor: pointer;
    border: 0.1rem solid var(--main-color-2);
    border-radius: 0.5rem;
   }
.navbar-brand {
    font-weight: 1000;
    margin-left: 1rem !important;
    margin-bottom: 0.3rem !important;
    padding: 1rem;
   }
.nav-link{
    margin-left: 1rem !important;
   }
.navbar-brand:hover {
    border: 0.1rem solid var(--main-color-1);
}
.nav-link:hover{
    background: var(--main-color-1);
    color: var(--main-color-2) !important;
    border: 0.1rem solid var(--main-color-1);
    border-radius: 0.5rem;
   }
.auth, .reg {
    color: var(--secondary-color-3) !important;
}
.auth:hover, .reg:hover {
    background: var(--secondary-color-3);
    color: var(--secondary-color-1) !important;
    border: 0.1rem solid var(--secondary-color-3);
}
.navbar-collapse{    
    justify-content: flex-end;
   }
.show .nav-link, .collapsing .nav-link {
    margin-top: 0.1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.navbar-toggler{
    padding: 0.1rem 0.5rem !important;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: var(--secondary-color-1) !important;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0.05rem !important;
    background: var(--secondary-color-1) !important;
}
.navbar-nav {
    list-style-position: inherit;
}
.bg-dark{
    background-color: var(--main-color-3)!important
    }
.bg-primary{
    background-color: var(--main-color-3)!important
    }

/*header*/

.header{
    display: block;
    background-image: url('../img/headerback.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.8);
   }

/*greating, about*/

.about{
    margin: auto;
    padding: 6em 2em 2em 2em;
}
.greating{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.greating h3, .about h3{
    color: var(--main-color-2) ;
}
.greating p, .about p{
    color:rgb(142, 142, 142);
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.greating button{
    border:1px  solid var(--main-color-2);
    background: var(--main-color-2);
    color: var(--main-color-1);
}
.greating button:hover{
    border:1px  solid var(--main-color-1) !important;
    background: var(--main-color-1) !important;
    color: var(--main-color-2) !important;
}
.greating a{
    text-decoration: none;
    color: var(--main-color-1);
}

/*contact form*/

.contact-form{
    margin: 6em 2em 2em 2em;
    position: relative;  
}
.contact-form h1{
    padding:2em 1px;
    color: var(--main-color-2); 
}
.contact-form .right{
    max-width: 600px;
}
.contact-form .right .btn-secondary{
    background: var(--main-color-2);
    color: var(--main-color-1);
    border: 0;
}
.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
}

/*bootstrap*/

.custom-btn {
    background: var(--secondary-color-1) !important;
    color: var(--secondary-color-3) !important;
}
.custom-btn:hover {
    background: var(--secondary-color-3) !important;
    color: var(--secondary-color-1) !important;
    transition: all 0.2s ease-in-out;
}
.custom-btn-red {
    background: var(--main-color-2) !important;
    border: 0.1rem solid var(--third-color-3);
    color: var(--third-color-3) !important;
}
.custom-btn-red:hover {
    background: var(--third-color-3) !important;
    color: var(--third-color-1) !important;
    transition: all 0.2s ease-in-out;
}

/*registration success modal*/

.modal-body {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 0;
    height: 0;
    z-index: 1000;
    visibility: hidden !important;
    opacity: 0 !important;
}
.modal-body.open {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    height: auto;
    z-index: 1000;
    visibility: visible !important;
    opacity: 1 !important;
}